.card-footer.pb-0
    .row
        .col-12.col-xl-6
            .form-group
                label= t('generator.IT.cf.surname')
                input.form-control(type='text', data-param='surname')
            .form-group
                label= t('generator.IT.cf.firstname')
                input.form-control(type='text', data-param='firstname')
            .form-group.row
                .form-check.col-6
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='m', checked).form-check-input
                        = t('gender.male')
                .form-check.col-6
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='f', checked).form-check-input
                        = t('gender.female')

        .col-12.col-xl-6
            .form-group
                label= t('generator.IT.cf.birthdate')
                input.form-control(type='text', data-param='birthdate', placeholder='1969(-07(-12))', pattern='^(18|19|20|21|22)[0-9][0-9](-[0-9][0-9])?(-[0-9][0-9])?$')
            .form-group
                label= t('generator.IT.cf.birthplace')
                input.form-control(type='text', data-param='birthplace', pattern='[ABCDEFGHILMZ][0-9]{3}')
